<section class="hero">
    <div class="hero-blue">
        <div>
            <h1><small>Bonjour, je suis</small>
                Thomas Fevre
            </h1>
            <p>
                Ingénieur Blockchain et Développeur Fullstack
            </p>
            <div class="call-to-action">
                <a href="/uploads/resume10_2024.pdf" target="_blank" class="button black">
                    Voir mon CV
                </a>
                <a href="mailto:balance2eat@gmail.com" class="button white">
                    Me contacter
                </a>
            </div>
            <div class="social-links">
                <a href="https://github.com/thomasFevre">
                    <img src="./logo/github.png" alt="GitHub" width="48" />
                </a>
                <a href="https://www.linkedin.com/in/thomas-fevre-6853b51a1">
                    <img src="./logo/linkedin.png" alt="LinkedIn" width="48" />
                </a>
            </div>
        </div>
    </div>
    <div class="hero-blue2">
        Description à rajouter ici
    </div>
</section>
<section class="logos">
    <div class="marquee">
        <div class="track">
            <img src="./logo/html.png" alt="HTML" width="128" class="logo__img"/>
            <img src="./logo/css.png" alt="CSS" width="128" class="logo__img"/>
            <img src="./logo/js.png" alt="JS" width="128" class="logo__img"/>
            <img src="./logo/polygon.png" alt="polygon" width="128" class="logo__img"/>
            <img src="./logo/solana.png" alt="solana" width="128" class="logo__img"/>
            <img src="./logo/quicknode.png" alt="quicknode" width="128" class="logo__img"/>
            <img src="./logo/erc20.png" alt="erc20" width="128" class="logo__img"/>
            <img src="./logo/redis.png" alt="redis" width="128" class="logo__img"/>
            <img src="./logo/react.png" width="128" alt="React" class="logo__img"/>
            <img src="./logo/angularjs.png" width="128" alt="Angular" class="logo__img"/>
            <img src="./logo/nextjs.png" width="128" alt="Next JS" class="logo__img"/>
            <img src="./logo/vuejs.png" width="128" alt="Vue JS"class="logo__img" />
            <img src="./logo/flask.png" width="128" alt="Flask" class="logo__img"/>
            <img src="./logo/python.png" width="128" alt="Python" class="logo__img"/>
            <img src="./logo/laravel.png" alt="Laravel" width="128" class="logo__img"/>
            <img src="./logo/aws.png" width="128" alt="Aws" class="logo__img"/>
            <img src="./logo/flutter.png" width="128" alt="Flutter" class="logo__img"/>
        </div>
    </div>
</section>
<section id="skills" class="skills">
    <h2>
        <small>A propos de mes</small>
        Compétences
    </h2>
    <div class="skills-container">
        <div class="skill-section frontend">
            <h3>Frontend</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Angular</li>
                <li>Vue</li>
                <li>Dart</li>
            </ul>
        </div>
        
        <div class="skill-section backend">
            <h3>Backend</h3>
            <ul>
                <li>Solidity</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>Python</li>
                <li>Java</li>
                <li>PHP</li>
                <li>Nest.js</li>
            </ul>
        </div>
        
        <div class="skill-section databases">
            <h3>Bases de données</h3>
            <ul>
                <li>PostgreSQL</li>
                <li>MySql</li>
                <li>MongoDB</li>
                <li>AWS Aurora</li>
                <li>SqlLite</li>
            </ul>
        </div>
        
        <div class="skill-section blockchain">
            <h3>Blockchains</h3>
            <ul>
                <li>EVM-Compatible</li>
                <li>Solana</li>
                <li>Tezos</li>
                <li>XRP Ledger</li>
            </ul>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="holder-blue">
        <h3>Un peu plus sur moi</h3>
        <p>
            Bonjour, je suis Thomas Fevre, etc...
        </p>
        <p>
            Ce que je travaille actuellement sur / Mes intérêts, ou autre chose
        </p>
    </div>
</section>
